@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

body {
    background-color: #222D32;
    font-family: "Poppins", sans-serif;
    height: 100vh;
}
a:link {
    text-decoration: none;
    
}
a:hover {
    color: rgb(253, 253, 253);
    
  }

nav{
    width: 100%;
    height: 75px;
    background-color: rgb(233, 235, 231);

}

nav ul{
    margin-left: 100px; 
    display: inline-block;
}

nav ul li{
    color: red;
    display: inline-block;
    list-style: none;
    margin-right: 50px;
    font-weight: bold;
    font-size: 20px;
    
}

.logo{
    padding: 5px;
    margin-left: 25px;
    font-weight: bold;
    font-size: 40px;
}

  
#addAccount {
    align-items: center;
    width: 150px;
    padding: 6px;
    margin-bottom: 20px;
    margin-top: 50px;
    margin-left: 50px;
    background-color: #3094c2;
    color: white;
    border-radius: 5px;
    border-style: none;
    border: 1px solid rgb(255, 255, 255);
}

.btnOdustani{
	align-items: center;
    width: 150px;
    padding: 6px;
    margin-bottom: 20px;
    margin-top: 50px;
    color: white;
    border-radius: 5px;
    border-style: none;
}

.table{
    color: white;
    text-align: center;
}

.outPopUp {
    position: absolute;
    width: 300px;
    height: 200px;
    z-index: 15;
    top: 50%;
    left: 50%;
    margin: -100px 0 0 -150px;
}

.has-error .help-block {
    color: red;
}

#formAddAccount {
	border-radius:10px;
	margin:20px;
	padding:7px;
	background-color: #3094c2;
  color: white;
  border: 2px solid #212529;
  
}