@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

html { 
  background: url(../images/dogecoin-7842.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.logo{
    padding: 5px;
    margin-left: 25px;
    font-weight: bold;
    font-size: 40px;
}

a:link {
    text-decoration: none;
    
}
a:hover {
    color: rgb(253, 253, 253);
    
  }

nav{
    width: 100%;
    height: 75px;
    background-color: rgb(233, 235, 231);

}

nav ul{
    margin-left: 100px; 
    display: inline-block;
}

nav ul li{
    color: red;
    display: inline-block;
    list-style: none;
    margin-right: 50px;
    font-weight: bold;
    font-size: 20px;
    
}

.logoutBtn{
  float: right;
  margin-top: 12px;
  margin-right: 40px;
}