@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

body{
	background-color: #222D32;
    font-family: "Poppins", sans-serif;
}

html {
  position: relative;
  min-height: 100%;
}

.logoutBtn{
  float: right;
  margin-top: 12px;
  margin-right: 40px;
}

.logo{
    padding: 5px;
    margin-left: 25px;
    font-weight: bold;
    font-size: 40px;
}

a:link {
    text-decoration: none;
    
}
a:hover {
    color: rgb(253, 253, 253);
    
  }

nav{
    width: 100%;
    height: 75px;
    background-color: rgb(233, 235, 231);

}

nav ul{
    margin-left: 100px; 
    display: inline-block;
}

nav ul li{
    color: red;
    display: inline-block;
    list-style: none;
    margin-right: 50px;
    font-weight: bold;
    font-size: 20px;
    
}

.nav-link {
  font-size: 19px;
  font-family: Calibri;
}

.dropdown-item:hover {
  background-color: #3094c2;
  color: white;
}

.pagination {
  float: right;
}
.btn-pagination-previous {
  border-color: #fff;
  margin-right: 5px;
}

.btn-pagination-next {
  border-color: #fff;
  margin-left: 5px;
}

.pagination-numbering {
  display: inline-flex;
  align-items: center;
  color: #6c757d;
}


td.idCell{
  visibility: hidden; 
  max-width: 0px;
}


table tr:not(.header){
	cursor:pointer;
}

.table{
    margin-top: 50px;
    background-color:white;
    text-align: center;  
}

table tr.highlighted{
	color: #212529;
  background-color: rgba(0, 0, 0, 0.075);
}


#dodajKursnulistu {
	background-color: #3094c2;
  color: white;
  border: 2px solid #212529;
}
#dodajKursUValuti {
	background-color: #3094c2;
  color: white;
  border: 2px solid #212529;
}
.dodajrefresh{
  margin-top: 50px;
  display: inline-block;
}
.fa{
  padding-top: 20px;
  padding-left: 30px;
  color: white;
}

#tabelaKursnaLista tbody :hover {
	background-color: #ececec;
	transition: 0.2s ease-in;
	cursor: pointer;
}

#tabelaKursnaLista th {
    background-color: #3094c2;
    color: white;
    text-align: center;  
    border-bottom: 1px solid #212529;
    border-top: 1px solid #212529;
} 
#datumborder{
  border-left: 1px solid #212529;
}

#bankaborder{
  border-right: 1px solid #212529;
}

#tabelaKursUValuti th {
	background-color: #3094c2;
  color: white;
  text-align: center;  
  border-bottom: 1px solid #212529;
  border-top: 1px solid #212529;
}

#valutaborder{
  border-left: 1px solid #212529;
}
#prodajniborder{
  border-right: 1px solid #212529;
}

#tabela th {
	background-color: #3094c2;
    color: white;
}

#tabelaKursUValuti tbody :hover {
	background-color: #ececec;
	transition: 0.2s ease-in;
	cursor: pointer;
}

.modal-header {
	background-color: #3094c2;
	color: white;
}

.btn-secondary {
	background-color: #6c757d !important;
	margin-top:60px;
}

#addButton{
	background-color: #3094c2 !important;
	margin-top:60px;
	
}

input{
	float: right;
	width: 15rem;
}

select {
	float: right;
	width: 15rem;
}

i {
	color: #3094c2;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-top: 5rem;
}

.has-error .help-block {
  color: red;
}

#add{
	border-radius:10px;
	margin:10px;
	padding-left:15px;
	padding-right:15px;
	background-color: #3094c2;
  color: white;
  border: 2px solid #212529;
  margin-top:30px;
  margin-left:50px;
}

#userTable{
	color:white;
	text-align:center;
	background-color:#212529;
	border-top: 2px solid white;
	border-bottom: 2px solid white;
	
}

#h1upload{
	color:white;
	float:left;
	margin-top:40px;
	margin-left:50px;
}

.uploadFile{
	float:left;
	margin-top:50px;
	margin-left:50px;
	margin-bottom:40px;
	color:white;
}
