@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

body{
	background-color: #222D32;

}

.logo{
    padding: 5px;
    margin-left: 25px;
    font-weight: bold;
    font-size: 40px;
}

a:link {
    text-decoration: none;
    
}
a:hover {
    color: rgb(253, 253, 253);
    
  }

nav{
    width: 100%;
    height: 75px;
    background-color: rgb(233, 235, 231);

}

nav ul{
    margin-left: 100px; 
    display: inline-block;
}

nav ul li{
    color: red;
    display: inline-block;
    list-style: none;
    margin-right: 50px;
    font-weight: bold;
    font-size: 20px;
    
}

.icon-bar{
	margin-bottom:20px;
}

.table{
	color:white;
	margin-top: 50px;
	text-align:center;
}

.btn{
	background-color: #3094c2;
  color: white;
  border: 2px solid #212529;
  border-radius:10px;
}
